<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Bashair/IdeaProjects/assaignment2Ramdan/src/test/java/tests/testng/assaignment2Ramadan/assaignment2Exel.java"><classes><class name="tests.testng.assaignment2Ramadan.assaignment2Exel"><methods><include name="dataTest"/></methods></class></classes></test></suite>